/* @import "~bootstrap/css/bootstrap"; */


body {
  background-color:white;

}

.gifs {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gif {
  padding: 0 2px;
}

.loader {
  color: blue;}

  .login{
    text-align:center ;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    margin-left:10%;
    
    
  }
  .header{
    width: 70%;
      margin-left: 15%;
      background: #00000078;
      line-height: 4vh;
      color: white;
      border-radius: 10px;
      position: absolute;
      top: 200px;
  }
  .welcome{
    width: 70%;
      margin-left: 15%;
      background: #00000078;
      line-height: 5vh;
      color: white;
      border-radius: 10px;
      position: absolute;
      top: 100px;

  }
  column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }